.section {

  &--header {
    @include make-spacer('pt', 4);
    @include make-spacer('pt', 8, sm);
    @include make-spacer('pt', 20, xl);

    .container {
      @include make-spacer('py', 6);
      @include make-spacer('px', 2);

      @include make-spacer('py', 7, sm);
      @include make-spacer('px', 5, sm);

      @include make-spacer('py', 8, md);
      @include make-spacer('px', 14, md);

      @include make-spacer('py', 5, xl);
      @include make-spacer('pr', 6, xl);

      @include make-spacer('pt', 10, xxl);
      @include make-spacer('pr', 12, xxl);
      @include make-spacer('pb', 10, xxl);

      display: grid;
      grid-template-rows: 1fr 355px;
      row-gap: 40px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: var(--default-border-radius);
      background-color: var(--color-white);

      &::after {
        @include size(1053px, 766px);

        left: -618px;
        top: -740px;
        z-index: -1;

        @include media-breakpoint-up(sm) {
          @include size(1387px, 1008px);

          left: -590px;
          top: -920px;
        }

        @include media-breakpoint-up(md) {
          left: -490px;
        }

        @include media-breakpoint-up(xl) {
          left: -350px;
        }

        @include media-breakpoint-up(xxl) {
          top: -930px;
        }
      }

      &::before {
        top: 0;
        bottom: 0;
        right: 30px;
        width: 215px;

        @include media-breakpoint-up(sm) {
          right: 60px;
          width: 460px;
        }

        @include media-breakpoint-up(md) {
          right: 82px;
          width: 612px;
        }

        @include media-breakpoint-up(xl) {
          right: 108px;
          width: 790px;
        }

        @include media-breakpoint-up(xxl) {
          right: 129px;
          width: 956px;
        }
      }

      @include media-breakpoint-up(sm) {
        grid-template-rows: 1fr 470px;
        row-gap: 20px;
      }

      @include media-breakpoint-up(xl) {
        align-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 470px;
        column-gap: 105px;
      }

      @include media-breakpoint-up(xxl) {
        grid-template-columns: 1fr 570px;
        column-gap: 200px;
      }
    }

    .block {
      @include make-spacer('mx', auto);
      @include make-spacer('ml', 0, xl);
      @include make-spacer('ml', auto, xxl);
      @include make-spacer('mt', -20, xl);

      @include media-breakpoint-up(xl) {
        max-width: 525px;
      }

      text-align: center;
    }

    .title {
      text-transform: uppercase;
      font-weight: var(--typography-semibold);
    }

    .text {
      @include make-spacer('mt', 4);
      @include make-spacer('mt', 6, sm);

      @include font-size(16px, 24px);

      @include media-breakpoint-up(sm) {
        @include font-size(20px, 30px);
      }

      strong,
      span {
        margin: 0 3px;
      }
    }

    .icon {
      position: absolute;
      left: 25px;
      bottom: 25px;

      @include media-breakpoint-up(sm) {
        left: 40px;
        bottom: 40px;
      }

      @include media-breakpoint-up(md) {
        left: 50px;
      }

      @include media-breakpoint-up(xxl) {
        left: 60px;
        bottom: 50px;
      }
    }

    .board {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-100%);
      z-index: 1;

      @include media-breakpoint-up(sm) {
        top: 20px;
        transform: translateX(-150%);
      }

      @include media-breakpoint-up(xl) {
        top: auto;
        bottom: 0;
      }

      @include media-breakpoint-up(xxl) {
        transform: translateX(-175%);
      }
    }

    .pictures {
      position: relative;
      z-index: 1;

      @include media-breakpoint-up(xl) {
        height: 520px;
        transform: translateY(-20px);
      }

      @include media-breakpoint-up(xxl) {
        height: 570px;
        transform: none;
      }
    }

    .image {
      @include flex(center);

      position: absolute;

      &:nth-child(2) {
        @include size(114px);

        bottom: 240px;
        transform: translateX(-110%);

        @include media-breakpoint-up(sm) {
          @include size(150px);

          bottom: 235px;
          transform: translateX(-200%);
        }

        @include media-breakpoint-up(xl) {
          @include size(170px);

          top: 60px;
          bottom: auto;
          transform: translateX(-180%);
        }

        @include media-breakpoint-up(xxl) {
          @include size(218px);

          top: 0;
        }
      }

      &:nth-child(3) {
        @include size(96px);

        bottom: 150px;
        transform: translateX(-180%);

        @include media-breakpoint-up(sm) {
          @include size(132px);

          bottom: 20px;
          transform: translateX(85%);
        }

        @include media-breakpoint-up(xl) {
          @include size(150px);

          bottom: 37px;
          transform: translateX(90%);
        }

        @include media-breakpoint-up(xxl) {
          @include size(184px);

          transform: translateX(95%);
        }
      }

      &--sm {
        left: 50%;

        img {
          transform: scale(1.14);
        }
      }

      &--lg {
        @include size(320px, auto);

        bottom: 0;
        left: 50%;
        transform: translateX(-30%);

        @include media-breakpoint-up(sm) {
          width: 400px;
          transform: translateX(-50%);
        }

        @include media-breakpoint-up(xl) {
          width: 470px;
          transform: translate(-50%, 0);
        }

        @include media-breakpoint-up(xxl) {
          width: 570px;
        }
      }
    }
  }
}
