mixin section-we-better
  section.section&attributes(attributes)
    .container-fluid
      .container
        .block
          .status.js-item-animation
            img(src="./img/better.webp").img
          h4.title.js-item-animation
            span Our technology is best in class.
            span We are the cutting edge. Let us show you why.
