---
title: Mannequin
lang: en
---
extends layouts/_layout

block content
  -
    var menu = [
      {
        text: 'WHERE IT CAN WORK',
        link: '#section-can-work'
      },
      {
        text: 'PRODUCTION',
        link: '#section-production'
      },
      {
        text: 'VIRTUAL PRODUCTION',
        link: '#section-virtual-production'
      }
    ]

  +nav(menu, 'production').nav--inner#nav
  main
    +section-photo-block.section--photo-block
    +section-our-solution.section--our-solution
    +section-can-work.section--can-work#section-can-work
    +section-production.container-additional#section-production
    +section-virtual-production.container-additional#section-virtual-production
    +section-description.section--description
    +section-request(
      [
      "Get in touch.",
      "We are ready to show you the future."
      ],
      0
    ).section--request#section-feedback
    +modal.modal--pink.js-modal
