---
title: Mannequin
lang: en
---
extends layouts/_layout

block content
  -
    var menu = [
      {
        text: 'How it work',
        link: '#section-sales'
      },
      {
        text: 'Benefits',
        link: '#section-benefits'
      },
      {
        text: 'Integration',
        link: '#section-integration'
      }
    ]

  +nav(menu, 'stylist').nav--inner#nav
  main
    +section-header(
      'Mannequin Stylist',
      3,
      [
        'stylist/header',
        'home/product-21',
        'home/product-22'
      ],
      [
        {
          list: [
            'A turnkey solution for bundling and upselling your ecommerce apparel.'
          ]
        }
      ],
      false,
      'blue'
    ).section--header#section-header
    +section-sales.section--sales#section-sales
    +section-benefits.section--benefits#section-benefits
    +section-integration.section--integration#section-integration
    +section-plan.section--plan#section-plan
    +section-request(
      [
        "We’re ready",
        "if you are. "
      ],
      1
    ).section--request#section-feedback
    +modal.modal--blue.js-modal
