---
title: Mannequin
lang: en
---
extends layouts/_layout

block content
  -
    var menu = [
      {
        text: 'About',
        link: '#section-we-better'
      },
      {
        text: 'Features',
        link: '#section-features'
      },
      {
        text: 'Use Cases',
        link: '#section-use-cases'
      },
      {
        text: 'Process',
        link: '#section-process'
      },
      {
        text: 'Near Future',
        link: '#section-near-future'
      }
    ]

  +nav(menu, 'synthetics').nav--inner#nav
  main
    +section-header(
      'Mannequin Synthetics',
      1,
      [
        'synthetics/header'
      ],
      [
        {
          index: 0,
          list: [
            'Mannequin AI is a state of the art machine learning technology',
            'that creates purely digital humans that look identical to real models wearing real apparel from real shoots.'
          ]
        }
      ],
      true,
      'pink'
    ).section--header#section-header
    +section-we-better.section--we-better#section-we-better
    +section-features.section--features#section-features
    +section-use-cases.section--use-cases#section-use-cases
    +section-process.section--process#section-process
    +section-near-future.section--near-future#section-near-future
    +section-request(
      [
      "Ready to try it?",
      "Let's talk."
      ],
      0
    ).section--request#section-feedback
    +modal.modal--pink.js-modal
