@import './nav/index';
@import './logo/index';
@import './menu/index';
@import './toggle/index';
@import './dropdown/index';

.header {
  @include make-spacer('pt', 4);
  @include make-spacer('pt', 10, xm);
  @include make-spacer('pt', 0, md);

  min-height: calc(618px - var(--navigation-height));

  @include media-breakpoint-up(sm) {
    min-height: calc(698px - var(--navigation-height));
  }

  @include media-breakpoint-up(md) {
    min-height: calc(835px - var(--navigation-height));
  }

  @include media-breakpoint-up(xl) {
    min-height: calc(987px - var(--navigation-height));
  }

  @include media-breakpoint-up(xxl) {
    min-height: calc(1017px - var(--navigation-height));
  }

  .container {

    &::before {
      @include size(1053px, 766px);

      left: -618px;
      top: -740px;

      @include media-breakpoint-up(sm) {
        @include size(1387px, 1008px);

        left: -590px;
        top: -920px;
      }

      @include media-breakpoint-up(md) {
        left: -490px;
      }

      @include media-breakpoint-up(xl) {
        left: -350px;
      }

      @include media-breakpoint-up(xxl) {
        top: -930px;
      }
    }
  }

  .grid {
    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 475px;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 535px;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 620px;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: 1fr 764px;
    }


    display: grid;
  }

  .wrapper,
  .picture,
  .board {
    position: relative;
    z-index: 1;
  }

  .title {
    white-space: nowrap;

    @include media-breakpoint-up(sm) {
      position: absolute;
      top: 35px;
    }

    @include media-breakpoint-up(md) {
      top: 140px;
    }

    @include media-breakpoint-up(xl) {
      top: 130px;
    }

    span {
      display: block;

      &:first-child {
        color: var(--color-primary);
      }
    }
  }

  .media {
    @include flex(center);
    @include size(400px);

    @include media-breakpoint-up(sm) {
      @include size(650px);
    }

    @include media-breakpoint-up(md) {
      @include size(800px);
    }

    @include media-breakpoint-up(xl) {
      @include size(922px);
    }

    @include make-spacer('mt', -18);
    @include make-spacer('ml', auto);
    @include make-spacer('mr', -30);

    @include make-spacer('mt', -8, sm);
    @include make-spacer('mr', 0, sm);

    @include make-spacer('mt', 14, md);

    @include make-spacer('mt', 6, xl);


    position: relative;

    &__image {
      @include make-spacer('mt', 2);
      @include make-spacer('ml', -10);

      @include make-spacer('mt', 2, sm);
      @include make-spacer('mt', 6, md);

      @include size(263px, 328px);

      @include media-breakpoint-up(sm) {
        @include size(428px, 534px);
      }

      @include media-breakpoint-up(md) {
        @include size(526px, 655px);
      }

      @include media-breakpoint-up(xl) {
        @include size(607px, 758px);
      }

      @include media-breakpoint-up(xxl) {
        @include size(600px, 940px);
      }

      position: relative;
      overflow: hidden;

      &::after {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(0deg, #F4F4F4 15%, rgba(244, 244, 244, 0) 100%);
        height: 160px;
        z-index: 1;
        content: '';

        @include media-breakpoint-up(sm) {
          height: 260px;
        }

        @include media-breakpoint-up(md) {
          height: 315px;
        }

        @include media-breakpoint-up(xl) {
          height: 370px;
        }
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
      }
    }

    &__circle {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(310.02deg, rgba(244, 244, 244, 0) 27.7%, #F4F4F4 77.82%);
      border-radius: 50%;
    }
  }

  .board {
    position: absolute;
    top: 50%;
    left: -75px;
    transform: translateY(-50%);

    @include media-breakpoint-up(sm) {
      left: 80px;
    }

    @include media-breakpoint-up(md) {
      left: 20px;
    }

    @include media-breakpoint-up(xl) {
      left: 10px;
    }

    @include media-breakpoint-up(xxl) {
      left: -70px;
    }

    &__link {
      @include size(20px);

      position: absolute;
      top: 50%;
      right: 7px;
      transform: translateY(-50%);

      @include media-breakpoint-up(sm) {
        @include size(24px);

        right: 9px;
      }

      @include media-breakpoint-up(md) {
        @include size(30px);

        right: 11px;
      }

      @include media-breakpoint-up(xl) {
        @include size(34px);

        right: 13px;
      }
    }
  }
}
