include ./nav/_index
include ./logo/_index
include ./menu/_index
include ./toggle/_index
include ./dropdown/_index

mixin header
  header.header&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .grid
          .wrapper
            h1.title
              span AI technologies
              span and solutions
              span for global
              span industries

          .media
            .media__image
              +picture(`home/header`, `Header`)
            .media__circle
            +board
