.board {
  @include flex($justify-content: center, $direction: column);
  @include size(171px);

  @include make-spacer('pr', 9);
  @include make-spacer('pl', 5);
  @include make-spacer('pr', 11, sm);
  @include make-spacer('pl', 3, sm);
  @include make-spacer('pr', 12, md);
  @include make-spacer('pl', 4, md);
  @include make-spacer('pl', 2, xl);

  border-radius: 50%;
  background-color: var(--color-alt);
  color: var(--color-white);
  text-align: right;

  @include media-breakpoint-up(sm) {
    @include size(200px);
  }

  @include media-breakpoint-up(md) {
    @include size(250px);
  }

  &__link {
    @include size(20px);

    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);

    @include media-breakpoint-up(sm) {
      @include size(24px);

      right: 9px;
    }

    @include media-breakpoint-up(md) {
      @include size(30px);

      right: 11px;
    }

    @include media-breakpoint-up(xl) {
      @include size(34px);

      right: 13px;
    }
  }

  &__subtitle,
  &__text {

    @include media-breakpoint-up(sm) {
      transform: translateY(-12px);
    }
  }

  &__subtitle {
    @include font-size(11px, 16px);

    @include media-breakpoint-up(sm) {
      @include font-size(12px, 18px);
    }

    @include media-breakpoint-up(md) {
      @include font-size(16px, 24px);
    }

    @include media-breakpoint-up(lg) {
      @include font-size(18px, 27px);
    }
  }

  &__text {
    @include font-size(16px, 20px);

    font-weight: var(--typography-bold);

    @include media-breakpoint-up(sm) {
      @include font-size(20px, 24px);
    }

    @include media-breakpoint-up(md) {
      @include font-size(25px, 30px);
    }

    @include media-breakpoint-up(lg) {
      @include font-size(30px, 36px);
    }
  }
}
