.section {

  &--product-header {
    @include make-spacer('m', 0);

    .container {
      @include make-spacer('py', 8);
      @include make-spacer('py', 10, md);
      @include make-spacer('py', 14, lg);
    }

    .block {
      @include flex($direction: column, $wrap: wrap);

      @include media-breakpoint-up(sm) {
        flex-direction: row;
        align-items: center;
      }

      @include media-breakpoint-up(md) {
        flex-wrap: nowrap;
      }

      &__circle {
        @include make-spacer('mr', 4);
        @include make-spacer('mr', 12, lg);
        @include size(100px);
        @include flex(center, center);
        @include font-size(20px, 15px);

        border-radius: 50%;
        background-color: var(--color-dark);
        flex-shrink: 0;
        font-weight: var(--typography-bold);

        @include media-breakpoint-up(sm) {
          @include size(127px);
          @include font-size(23px, 15px);
        }

        @include media-breakpoint-up(lg) {
          @include size(164px);
          @include font-size(50px, 20px);
        }
      }

      &__title {
        @include make-spacer('mt', 4);
        @include make-spacer('mb', 5);
        @include make-spacer('my', 0, sm);

        @include make-spacer('mr', 4);
        @include make-spacer('mr', 12, lg);

        @include media-breakpoint-up(sm) {
          @include font-size(50px);

          max-width: 550px;
        }

        @include media-breakpoint-up(md) {
          max-width: 350px;
        }

        @include media-breakpoint-up(lg) {
          @include font-size(60px);

          max-width: 425px;
        }

        width: 100%;
        text-transform: uppercase;
        font-weight: var(--typography-semibold);
      }

      &__text {
        width: 100%;

        @include media-breakpoint-up(sm) {
          padding-left: 147px;
        }

        @include media-breakpoint-up(md) {
          padding-left: 0;
        }

        @include media-breakpoint-up(lg) {
          @include font-size(25px, 38px)
        }
      }

      &--pink {

        .block {

          &__circle {
            color: var(--color-primary);
          }
        }
      }

      &--blue {

        .block {

          &__circle {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
}
