mixin section-use-cases
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        +bullet(2, 'use cases').js-item-animation
        h4.title.title--primary.js-item-animation Why do you care?
        .grid
          .grid__column
            h2.title.title--default.js-item-animation Here are some ideas for the fashion and apparel industries.
          .grid__column
            .block
              .item.js-item-animation
                h6.item__title Expansion of model diversity
                p.item__text Never book another flight. Never worry about finding a face you fear is only in your imagination. Instead of scouting for different models for your photoshoots, create them from the comfort of your office (or home).

              .item.js-item-animation
                h6.item__title Cutting costs on human models
                p.item__text You’ll never need to deal with a lookbook or catalog again; one model, if any, is all you’ll ever need.  Mannequin Synthetics will create dozens of digital models on photos with your only human model.

              .item.js-item-animation
                h6.item__title Owning image rights forever
                p.item__text The Synthetics you choose to use are YOURS. You’ll always have the sole rights to the IP within your photos, and it’s easy to relaunch old looks with new faces.
