mixin section-about
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          +bullet(1, 'who we are?').js-item-animation
          h4.title.js-item-animation We are a diverse team of world-class AI engineers, hardware engineers and founders
          .description
            p.text.js-item-animation
              strong Decades of combined experience building startups and in leadership at industry leading enterprises such as Snap.
            p.text.js-item-animation We are on the cutting-edge of AI & ML technologies, developing products that have the potential to transform a range of industries worldwide.
