mixin section-plan
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          h4.title.js-item-animation No matter your business size, we've got a plan for you
          .wrapper.js-item-animation
            p.text Give us the size of your catalog, your monthly users, and the inspiration behind your brand.
            strong.text Let us handle the rest.
