mixin section-product
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          +bullet(2, 'product & services').js-item-animation
          h2.title.js-item-animation Products and services
        .grid
          .item.js-item-animation
            +card(
              'mannequin sinthetics',
              {
                index: 0,
                list: [
                  "Revolutionary AI technology",
                  "that can create photo-shoot grade digital people of any race, height, or weight. Indistinguishable from actual humans."
                ]
              },
              [
                'product-1'
              ],
              false,
              1,
              'pink'
            )(href='./synthetics.html').card--pink.card--done

          .item.js-item-animation
            +card(
              'AI Stylist',
              {
                index: 0,
                list: [
                  "Intuitive plugin that will immediately increase sales and retention for your ecommerce hub.",
                  "Don’t sell items, sell outfits curated by AI."
                ]
              },
              [
                'product-2',
                'product-21',
                'product-22'
              ],
              false,
              3,
              'blue'
            )(href='./stylist.html').card--blue.card--done

          .item.js-item-animation
            +card(
              'Mannequin Robotics',
              {
                index: 0,
                list: [
                  "Fashion-grade photos of digital models",
                  "wearing your apparel without the actual photoshoots. No matter if your apparel is real or 3D. We got you covered."
                ]
              },
              [
                'product-3'
              ],
              true,
              2,
              'pink'
            ).card--pink

          .item.js-item-animation
            +card(
              'PERUKA',
              {
                index: 0,
                list: [
                  "Test out your dream look with your dream cut; ",
                  "see how you’d look with anything from a blue buzzcut to a blonde blowout."
                ]
              },
              [
                'product-4'
              ],
              true,
              4,
              'blue'
            ).card--blue
