mixin section-feedback
  section.section&attributes(attributes)
    .container-fluid
      .container.container--gradient
        .block
          h3.title.js-item-animation
            span Curious? Get a demo.
            span We’re ready if you are.
          .grid
            +feedback.js-feedback.js-item-animation
            p.text.js-feedback-animation.js-item-animation We promise, you’ll get a human.
