mixin section-description
  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            h3.title In any of the scenarios above, you have the opportunity to create multiple digital models
            p.text of any ethnicity, hair style, hair color, eys, etc. based on just one source photo of the model or mannequin.
          .grid__column
            .image
              +picture('production/product', 'Product')
