mixin category(text)
  .category&attributes(attributes)
    .category__icon
      svg(viewBox='0 0 25 27' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M10.2497 24.4871L12.1027 26.34L24.9409 13.5018L12.1027 0.663574L10.2497 2.51652L19.9117 12.1785L0.587402 12.1785L0.587402 14.8256L19.9113 14.8256L10.2497 24.4871Z' fill="#282828")
    h6.category__text= text
