.section {

  &--can-work {

    .container {

      &::before {
        @include size(1215px, 832px);

        display: none;
        top: 400px;
        left: -750px;
        transform: rotateZ(15deg) scale(-1);

        @include media-breakpoint-up(md) {
          display: block;
        }

        @include media-breakpoint-up(xl) {
          @include size(1458px, 998px);

          top: 700px;
        }
      }
    }

    .title {
      @include make-spacer('mb', 8);
      @include make-spacer('mb', 14, sm);
      @include make-spacer('mb', 20, xl);

      span {
        @include make-spacer('mr', 2);

        &:nth-child(2) {
          color: var(--color-primary);
        }

        @include media-breakpoint-up(sm) {
          display: block;
        }
      }
    }

    .circle {
      @include size(100px);
      @include font-size(18px, 12px);

      display: grid;
      grid-template-columns: 40px 20px 40px;
      align-items: center;
      justify-content: center;
      background-color: var(--color-dark);
      border-radius: 50%;
      font-weight: var(--typography-bold);

      @include media-breakpoint-up(sm) {
        @include size(127px);
        @include font-size(18px, 12px);
      }

      @include media-breakpoint-up(md) {
        @include font-size(23px, 15px);
      }

      @include media-breakpoint-up(xl) {
        @include size(164px);
        @include font-size(30px, 20px);

        grid-template-columns: 40px 30px 40px;
      }

      &__icon {
        @include size(15px);

        @include media-breakpoint-up(sm) {
          @include size(18px);
        }

        @include media-breakpoint-up(xl) {
          @include size(25px);
        }
      }

      &__text {
        text-align: right;
        color: currentColor;
      }

      &__divider {
        text-align: center;
        color: var(--color-white);
      }

      &--pink {
        color: var(--color-primary);
      }

      &--blue {
        color: var(--color-secondary);
      }
    }

    .product {
      @include make-spacer('mb', 10);
      @include make-spacer('mb', 12, sm);
      @include make-spacer('mb', 15, lg);

      @include make-spacer('ml', 2);
      @include make-spacer('ml', 12, sm);

      position: relative;
      display: grid;
      max-width: 350px;
      width: fit-content;

      &:nth-child(3) {
        @include make-spacer('mr', 0, md);
        @include make-spacer('ml', auto, md);
      }

      @include media-breakpoint-up(sm) {
        grid-template-columns: 405px 355px;
        max-width: 100%;
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: 520px 455px;
      }

      .bullet {
        @include make-spacer('m', 0);
      }

      &__circle {
        position: absolute;
        top: 65px;
        left: -11px;

        @include media-breakpoint-up(sm) {
          left: 0;
          transform: translateX(-50%);
        }
      }

      &__content {
        position: relative;

        @include media-breakpoint-up(sm) {
          transform: translateX(-70px);
        }
      }

      &__title,
      &__text {
        @include make-spacer('mb', 6, sm);
      }

      &__title {
        @include make-spacer('mb', 2);
        @include make-spacer('mt', 3);
        @include make-spacer('mt', 4, sm);

        text-transform: uppercase;
        font-weight: var(--typography-semibold);
      }

      &__link {
        @include font-size(10px, 12px);

        display: grid;
        grid-template-columns: repeat(2, 45px);
        column-gap: 22px;
        align-items: center;
        animation: slide 3s alternate infinite;
        transition: var(--default-transition);

        @include media-breakpoint-up(sm) {
          position: absolute;
          bottom: 0;
          left: 30px;
        }

        @include media-breakpoint-up(xl) {
          @include font-size(12px, 16px);

          grid-template-columns: repeat(2, 60px);
        }
      }

      &__icon {
        @include size(45px);

        @include media-breakpoint-up(xl) {
          @include size(60px);
        }

        svg {

          * {
            transition: var(--default-transition);
          }
        }
      }

      &__text {
        @include make-spacer('mb', 4);
        @include font-size(14px);

        @include media-breakpoint-up(sm) {
          @include font-size(16px, 24px);
        }

        @include media-breakpoint-up(xl) {
          @include font-size(20px, 30px);
        }
      }

      &__image {
        @include size(350px, 100%);

        @include media-breakpoint-up(sm) {
          width: 405px;
        }

        @include media-breakpoint-up(xl) {
          width: 520px;
        }
      }

      &--pink {

        .product {

          &__link {

            &:hover {
              color: var(--color-primary);

              svg {

                * {
                  stroke: var(--color-primary);
                }
              }
            }
          }
        }
      }

      &--blue {

        .product {

          &__link {

            &:hover {
              color: var(--color-secondary);

              svg {

                * {
                  stroke: var(--color-secondary);
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes slide {
  0%    { transform: translateY(-10px); }
  50%   { transform: translateY(0); }
  100%  { transform: translateY(10px); }
}
